<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Control</title>
    <script defer src="/js/adminControl.js"></script>
    <style>
      body{ display: flex; flex-direction:column;align-items:
      center;justify-content:flex-start; min-width: 100%;min-height: 100vh;gap:
      20px;} button{ width: 150px; }
    </style>
  </head>
  <body>

    <div>
      <button id="AllUsers">ALL USERS</button>
    </div>
    <div>
      <button id="AllImages">ALL IMAGES</button>
    </div>
    <div>
      <button id="deleteAllUsers">DELETE ALL USERS</button>
    </div>
    <div>
      <button id="deleteAllImages">DELETE ALL IMAGES</button>
    </div>
    <div id="displayInformation"></div>
  </body>
</html>