<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/pageIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="sass/main.css" />
    <title>Image Of The Day</title>
  </head>
  <body id="indexPage">
    <header>
      <div>
        <h1>Simply Share Your pictures</h1>
      </div>
      <div>
        <a href="/register">Register</a>
        <span>|</span>
        <a href="/login">Login</a>
      </div>
    </header>
    <main>
      <div>
        <img src="images/pic-01-index.jpg" alt="" />
        <img src="images/pic-03-index.jpg" alt="" />
      </div>
    </main>
  </body>
</html>