* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body#indexPage {
  background-image: url(../images/mainPageBgc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include phoneAndTablet {
    background-image: none;
    background-color: black;
  }

  header {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    @include phoneAndTablet {
      flex-direction: column;
      justify-content: center;
      height: 10vh;
      gap: 10px;
    }
    div {
      margin-left: 30px;
      @include phoneAndTablet {
        margin-left: 0;
      }
      h1 {
        color: white;
        font-family: $mainHeaderFont;
        font-size: 2vw;
        @include phoneAndTablet {
          font-size: 4vw;
        }
      }
    }
    div {
      font-family: Arial, Helvetica, sans-serif;
      margin-right: 60px;
      @include phoneAndTablet {
        margin-right: 0;
      }
      a {
        color: white;
        cursor: pointer;
        font-size: 1.3vw;
        margin-right: 5px;
        text-decoration: none;
        @include phoneAndTablet {
          font-size: 3vw;
        }
      }
      span {
        margin-right: 5px;
        color: wheat;
        font-size: 1.3vw;
        @include phoneAndTablet {
          font-size: 3vw;
        }
      }
    }
  }
  main {
    div {
      position: absolute;
      top: 20%;
      display: flex;
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include phoneAndTablet {
        flex-direction: column;
      }

      img:nth-child(1) {
        position: relative;
        left: 8vw;
        width: 16vw;
        height: 45vh;
        max-height: 550px;
        opacity: 0.5;
        z-index: 1;
        &:hover {
          opacity: 0.9;
          transform: scale(1.3);
          z-index: 3;
          transition: all 1s;
        }
        @include phoneAndTablet {
          left: 0;
          width: 300px;
          height: 450px;
          opacity: 0.9;
        }
      }

      img:nth-child(2) {
        position: relative;
        right: 8vw;
        width: 16vw;
        height: 45vh;
        opacity: 0.5;
        z-index: 1;
        &:hover {
          opacity: 0.9;
          transform: scale(1.3);
          z-index: 3;
          transition: all 1s;
        }
        @include phoneAndTablet {
          display: none;
        }
      }
    }
  }
}
